@import "compass/css3";

/* Mise en page du fond du site */
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Agency FB, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    display: block;
    background:url("../images/fond.jpg");
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover

}

.overlay {
    display: none;
}

.span {
    display: none;
}

/* Mise en page du background header */
.background-header {
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    background-color: #282c34;
    /*border: 1px solid white;*/
}

/* Mise en page du header contenant l'en tête du site */
.header {
    width: 94%;
    height: 90px;
    margin-left: 3%;
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    background-color: /*#1B1D22*/#282c34;
    border-bottom: 1px solid white;
}

/* Mise en page du bloc contenant le logo et le titre du site */
.subtitle1 {
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    display: flex;
    /*border: 1px solid blue;*/
}

/* Centrage verticale des div du bloc subtitle1 */
.subtitle1 div{
    margin-top: auto;
    margin-bottom: auto;
    /*border: 1px solid blue;*/
}

/* Lien du bloc en blanc */
.subtitle1 a{
    margin-left: 10px;
    color: white;
}

/* Changement de la couleur du lien au passage de la souris */
.subtitle1 a:hover{
    color: #7294E9;
    transition: 0.6s;
}

/* Mise en place de l'animation des titres du site */
.FreeNote a, .log-in-animation a {
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-family: Bebas, GeoSansLight;
    font-size: 48px;
    text-decoration: none;
    transition: color 1.2s;
}

/* Mise en place des titres avant des blocs le passage de la souris */
div.highlightTextIn a:before
{
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 1.2s;
    transform: scale(1.2);
    opacity: 0;
}

/* Mise en place des titres des blocs après le passage de la souris */
div.highlightTextIn a:hover:after
{
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 1.2s;
    transform: scale(1.2);
    opacity: 0;
}

div.highlightTextIn a:hover:before
{
    transform: scale(1.08);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a
{
    color: rgba(255, 255, 255, 1);
}

div.highlightTextIn a:before
{
    transform: scale(1.6);
}

.sign-up {
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /*border: 1px solid blue;*/
}

.sign-up div{
    margin-top: auto;
    margin-bottom: auto;
    /*border: 1px solid blue;*/
}

.sign-up a{
    margin-left: 10px;
    color: white;
}

.sign-up a:hover{
    color: #7294E9;
    transition: 0.6s;
}

/*.navbar {
    width: 40%;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    border: 1px solid red;
}

.navbar a {
    width: auto;
    height: auto;
    margin: auto;
    font-family: Bebas, GeosansLight, Agency FB;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    border: 1px solid red;
}

.navbar a:hover {
    color: #7294E9;
    transition: 0.5s;
}


.navbar div {
    margin: auto;
    list-style: none;
    display: inline;
}

*/
/*div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: black;
    transition: all 0.5s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}*/

.log-in {
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    display: flex;
    /*border: 1px solid blue;*/
}

.log-in div{
    margin-top: auto;
    margin-bottom: auto;
    /*border: 1px solid blue;*/
}

.log-in a{
    margin-left: 10px;
    color: white;
}

.log-in a:hover{
    color: #7294E9;
    transition: 0.6s;
}

.description {
    width: 40%;
    height: auto;
    margin-top: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    z-index: 1;
    background-color: #282c34;
    /*box-shadow: 2px 2px 1px 1px rgba(255, 255, 255, 0.2);*/
    border: 1px solid white;
    border-radius: 5px;
}

.description-subtitle {
    width: 240px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: Bebas;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
}


.description-FreeNote {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: calibri;

}

.description-FreeNote > p {
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

}

