@import "compass/css3";

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Bebas, sans-serif;
    font-size: 20px;
    color: white;
}

#indexb {
    background:url("https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#loginb {
    background:url("https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#signupb {
    background:url("https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#myaccountb {
    background:url("https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#mdpb {
    background:url("https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border: 1px solid white;*/
}

.container-form-login {
    width: 500px;
    height: 430px;
    margin-top: 15%;
    margin-left: 10%;
    background-color: #101824;
    display: flex;
    flex-direction: column;
    /*border: 1px solid deeppink;*/
    border-radius: 5px;
}

.container-form-mdp {
    width: 500px;
    height: 350px;
    margin-top: 15%;
    margin-left: 10%;
    background-color: #101824;
    display: flex;
    flex-direction: column;
    /*border: 1px solid deeppink;*/
    border-radius: 5px;
}

.container-form-inscription {
    width: 500px;
    height: 670px;
    margin-top: 8%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    background-color: #101824;
    /*border: 1px solid deeppink;*/
    border-radius: 5px;
}

.container-form-infopers {
    width: 30%;
    height: 460px;
    display: flex;
    margin-top: 15%;
    flex-direction: column;
    background-color: #101824;
    /*border: 1px solid #1c2041;*/
    border-radius: 5px;
}

.container-form-infopers1 {
    width: 30%;
    height: 350px;
    display: flex;
    margin-top: 15%;
    flex-direction: column;
    background-color: #101824;
    /*border: 1px solid #1c2041;*/
    border-radius: 5px;
}

.container-form-infopers .submit, .container-form-infopers1 .submit {
    margin-bottom: 40px;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
}

.form {
    width: 90%;
    margin-left: 5%;
    /*border: 1px solid #1c2041;*/
}

form a {
    color: #2461cc;
    font-size: 16px;
    text-decoration: none;
    /*border: 1px solid #1c2041;*/
}

.form p {
    font-size: 16px;
    color: #818283;
}

.form div {
    border-color: #2461cc;
}

.a2 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 20px;
    margin-top: 4px;
    /* border: 1px solid red;*/
}

.a21 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 20px;
    margin-top: 4px;
    margin-bottom: 30px;
    /* border: 1px solid red;*/
}

.a2 p, .a21 p{
    margin-top: 0;
    height: 18px;
    /*border: 1px solid green;*/
}

.a2 a, .a21 a{
    margin-left: 5px;
    height: 18px;
    display: flex;
    flex-direction: row;
    width: auto;
    /*border: 1px solid red;*/
}

.container-conditions {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-top: 4px;
    margin-left: -4px;
    margin-bottom: 10px;
    position: relative;
    /*border: 1px solid red;*/
}

.container-conditions p {
    margin-top: 15px;
    margin-left: 5px;
    /*border: 1px solid red;*/
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background: #080c10;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
}

input[type=checkbox]:checked {
    border: 1px solid #2461cc;
}

input:focus {
    outline: none;
}

.bouton {
    width: 99%;
    height: 35px;
    color: white;
    margin-top: -20px;
    background-color: #080c10;
    border: 1px solid #2461cc;
    border-radius: 4px;
    text-decoration: none;
}

.submit {
    width: 99%;
    height: 40px;
    /*margin-top: 10px;*/
    font-family: Bebas;
    font-size: 18px;
    color: white;
    background-color: #2461cc;
    border: none;
    border-radius: 4px;
}

.submit1 {
    width: 99%;
    height: 40px;
    margin-top: 50px;
    font-family: Bebas;
    font-size: 18px;
    color: white;
    background-color: #2461cc;
    border: none;
    border-radius: 4px;
}

.submit2 {
    width: 99%;
    height: 40px;
    margin-top: 20px;
    font-family: Bebas;
    font-size: 18px;
    color: white;
    background-color: #2461cc;
    border: none;
    border-radius: 4px;
}

h2 {
    text-align: center;
    color: #818283;
    font-size: 18px;
    margin-top: -10px;
}

h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
}

.info-personnelles {
    width: 100%;
    height: 35px;
    font-family: Bebas;
    font-size: 18px;
    color: white;
    background-color: #080c10;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
}

.info-personnelles p{
    width: auto;
    margin-top: 0px;
    margin-left: 5px;
    line-height: 35px;
    color: white;
    /*border: 1px solid white;*/
}

.Backtohome {
    width: 200px;
    height: 60px;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #101824;
    border: 1px solid #2461cc;
    border-radius: 4px;
}

.Backtohome div {
    width: 50px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    background-color: #2461cc;
    border-radius: 4px;
}

.Backtohome img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.Backtohome p {
    width: auto;
    height: 20px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
}

@media screen and (max-width: 1024px) {
    .container {
        margin-bottom: 150px;
        /*border: 1px solid white;*/
    }

    .container-form-login {
        width: 90%;
        margin-left: 5%;
    }

    .container-form-inscription {
        width: 90%;
        margin-left: 5%;
    }

    .container-form-infopers {
        width: 100%;

    }

    .container-form-infopers1 {
        width: 100%;

    }

    .Backtohome {
        right: 5%;
    }
}

@media handheld and (min-width: 0px){

    body {
        background-size: 300%;
    }
}