@import "compass/css3";

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Bebas, GeoSansLight, Agency FB, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #282c34;
    position: absolute;
    display: block;

}

.overlay {
    display: none;
}

.span {
    display: none;
}

.arrow {
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    margin-top: 11px;
    margin-right: 10px;
    background-color: #2461cc;
    color: white;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 4px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    width: 200px;
    height: 60px;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    background-color: #101824;
    border-radius: 4px;
    transition: margin-right .5s; /* If you want a transition effect */
}

#main p {
    width: auto;
    height: 20px;
    font-size: 18px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
}

.Title {
    width: 15%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /*border: 1px solid blue;*/
}

.Title div{

    margin: auto;
    /*border: 1px solid blue;*/
}

.Title a{
    margin-left: 10px;
    color: white;
}

.Title a:hover{
    color: #7294E9;
    transition: 0.6s;
}

h1 {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

.container-form {
    width: 35%;
    margin-top: 40px;
    margin-left: 32.5%;
    margin-bottom: 40px;
    position: relative;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
}

.form {
    width: 90%;
    font-size: calibri;
    color: #282c34;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E2E5EC;
    border: white 1px solid;
    border-radius: 8px;
}

.bouton {
    width: 90%;
    height: 40px;
}

.form p {
    width: 90%;
}
.form, p, input {
    margin-left: 5%;
}

.submit {
    width: 30%;
    height: 70px;
    color: white;
    font-family: Bebas;
    font-size: 20px;
    margin-left: 35%;
    background-color: #282c34;
}

.connexion {
    color: #282c34;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}