/*html, body {
 margin: 0;
 padding: 0;
 }

body {
 background-color: white  ;
 font-family: 'Oswald', sans-serif;
 }

 .header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   border: blue solid 2px;
 }

 .header a{
   color : white;
   text-decoration: none;
   font-size: 24px;
   border: blue solid 2px;
 }

 .header img{
   border: blue solid 2px;
 }

 .logo {
   width: 15%;
   margin: auto;
   margin-left: 0;
   border: red solid 2px;
 }

 .logo a {

 }

 .navbar {
   width: 40%;
   margin: auto;
   display: flex;
   justify-content: space-around;
   border: red solid 2px;
 }

 .navbar div, a {
   margin-right: 0;
 }

 .connexion {
   width: 15%;
   margin-top: auto;
   margin-bottom: auto;
   margin-right: 0;
   border: red solid 2px;
 }

 .connexion a {

 }*/

@import "compass/css3";

body{
    margin: 0;
    padding: 0;
    font-family: GeoSansLight, Agency FB, sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    display: block;
}

.overlay {
    display: none;
}

.span {
    display: none;
}

.header {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
}

.titres {
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    display: flex;
    /*border: 1px solid blue;*/
}

.titres div{
    margin-top: auto;
    margin-bottom: auto;
}

.titres a{
    margin-left: 10px;
}

.titres a:hover{
    color: #98deea;
    transition: 0.6s;
}

.prism a, .log-in-animation a {
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-family: Bebas, GeoSansLight;
    font-size: 48px;
    text-decoration: none;
    transition: color 1.2s;
}

div.highlightTextIn a:before
{
    position: absolute;
    color: black;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 1.2s;
    transform: scale(1.2);
    opacity: 0;
}

div.highlightTextIn a:hover:after
{
    position: absolute;
    color: black;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 1.2s;
    transform: scale(1.2);
    opacity: 0;
}

div.highlightTextIn a:hover:before
{
    transform: scale(1.08);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a
{
    color: rgba(0, 0, 0, 1);
}

div.highlightTextIn a:before
{
    transform: scale(1.6);
}

.navbar {
    width: 40%;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    /*border: 1px solid red;*/
}

.navbar a {
    width: auto;
    height: auto;
    margin: auto;
    font-family: Bebas, GeosansLight, Agency FB;
    font-size: 22px;
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    /*border: 1px solid red;*/
}

.navbar a:hover {
    color: #98deea;
    transition: 0.5s;
}


.navbar div {
    margin: auto;
    list-style: none;
    display: inline;
}


div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: black;
    transition: all 0.5s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

.log-in {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    width: auto;
    height: auto;
    display: flex;
    /*border: 1px solid blue;*/
}

.log-in .log-in-logo  {
    width: auto;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
    padding-left: 45px;
    /*border: 1px solid green;*/
}

.log-in-animation {
    width: 60px;
    /*border: 1px solid green;*/
}

.log-in a:hover  {
    color: #98deea;
    transition: 0.5s;
}

